@tailwind base;
@tailwind components;
@tailwind utilities;




.resource-cont > :first-child{
    border-top: none;

}


.row-cont[data-resource="1"] .cell {
border-top: none;

}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}