@tailwind base;
@tailwind components;
@tailwind utilities;




.resource-cont > :first-child{
    border-top: none;

}
.cells-cont > :nth-child(2) {
border-top: none;
}

.row-cont:first-child{
  border-top:none ;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}